<header class="header">
  <a href="/admin/dashboard" class="header__logo">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/admin/dashboard" class="">POSTS</a>
      </li>
      <li>
        <a href="/admin/users" class="">USERS</a>
      </li>
    </ul>

  </nav>

  <div class="header__button">
    <!--  -->
    <a href="/logout">
      Logout
    </a>
  </div>

</header>