<div class="author">
    <h1 class="author__heading">Hi, I am Long.</h1>
    <p class="author__body">Wanting to become Software Engineer! </p>
  </div>
  
  <img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="article">
    <h2 class="article__heading">Latest Posts</h2>
  
    <ul class="article__ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span class="article__title"><%= post.title %></span>
            <span class="article__list__date"><%=  post.createAT.toLocaleDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  

  </section>