<!-- 1 post -->
<h1 class="article__title"><%= data.title %></h1>
<article class="article"><%= data.body %></article>

<!-- show comment -->
<h2>Comments</h2>
<ul>
  <% comments.forEach(comment => { %>

      <article class="article"><%= comment.text %></article>
      <hr>

  <% }); %>
</ul>

<!-- show comment 2 -->